# Python/Django
__pycache__/
*.pyc
# db.sqlite3  # Included so PythonAnywhere gets existing data
.env
media/

# Flutter/Frontend
.dart_tool/
.pub-cache/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.generated/
*.lock